.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#error_msg, #error_msg_login{
  font-size: 0.8rem;
  color: #cc0000;
  margin-top: 5px;
}

#error_msg_login{
  color: #ff0000;
  font-size: 0.9rem;
}

.home_container, .error_container{
  text-align: center;
}
.home_container > *{
  margin-block: 10px;
}

.home_container h2{
  font-size: 45px;
  font-style: italic;
}
.error_container h1{
  font-size: 40px;
  font-style: italic;
  margin-bottom: 20px;
}

.home_container a,
.error_container a{
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #004e89;
}

.success_container{
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  background-color: #4cbf44;
}

#successMessage{
  color: #1e5d1a;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.sign_up_container, .login_container{
  display: grid;
  grid-template-rows: max-content;
}

.sign_up_container{
  grid-template-columns: 2.2fr 1fr;
}

.login_container{
  grid-template-columns: 1fr 2.2fr;
}

.sign_up_container .form_left_side{
  padding: 20px 50px 20px 20px;
  min-height: 400px;
}

.login_container .form_right_side{
  padding: 20px 20px 20px 50px;
  background-color: #004e89;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: start;
  min-height: 400px;
}

.login_container .form_right_side > div{
  width: 90%;
}

.login_container .form_right_side h2,
.sign_up_container .form_left_side h2{
  margin-bottom: 20px;
}

.sign_up_container .form_left_side > div.Input_group,
.login_container .form_right_side > div.login_inputs{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sign_up_container .form_left_side > div > input, 
.login_container .form_right_side > div > input{
  all: unset;
  padding: 9px 8px;
  background-color: #eef0f2;
  font-size: 0.8rem;
  color: #004e89;
}

.sign_up_container .form_left_side button,
.login_container .form_right_side button{
  all: unset;
  padding: 10px 45px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
}

.sign_up_container .form_left_side button{
  background-color: #004e89;
  border: 1px solid #004e89;
  color: #fff;
}

.login_container .form_right_side button{
  background-color: #fff;
  border: 1px solid #fff;
  color: #004e89;
}

.sign_up_container .graphics_right_side,
.login_container .graphics_left_side{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sign_up_container .graphics_right_side{
  background-color: #004e89;
  color: #fff;
}

.login_container .graphics_left_side{
  background-color: #fff;
  color: #004e89;
}

.sign_up_container .graphics_right_side a,
.login_container .graphics_left_side a {
  text-decoration: none;
  padding: 10px 45px;
  color: #004e89;
  border-radius: 100px;
}
.sign_up_container .graphics_right_side a {
  background-color: #eef0f2;
  border: 1px solid #eef0f2;
  color: #004e89;
}
.login_container .graphics_left_side a {
  background-color: #004e89;
  border: 1px solid #004e89;
  color: #fff;
}

.welcome_container{
  min-height: 400px;
  display: grid;
  place-items: center;
  align-content: center;
  gap: 5px;
}

.welcome_container a#viewprofile{
  text-decoration: none;
  padding: 10px 45px;
  color: #004e89;
  border-radius: 100px;
}

.view_profile_container{
  padding: 10px;
}
.view_profile_container p,
.view_profile_container h2{
    text-align: center;
    font-style: italic;
    padding-bottom:10px;
}

.view_profile_container .details_container{
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
  border-top: 0.5px solid #004e89;
  border-bottom: 0.5px solid #004e89;
}


.view_profile_container .details_container .profile_details_left .profile_img img{
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 50%;
}

.view_profile_container .details_container .profile_details_right > div{
  display: grid;
  grid-template-columns: 0.6fr 0.9fr;
  margin-block: 1rem;
}
.view_profile_container .log_out{
  padding-top: 1rem;
  text-align: center;
}
.view_profile_container #logout_btn{
  all: unset;
  padding: 10px 45px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  background-color: #004e89;
  border: 1px solid #004e89;
  color: #fff;
}

@media screen and (min-width: 769px) and (max-width: 991px){
  .container{
    padding-inline: 40px;
  }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
  .container{
    padding-inline: 30px;
  }
  .sign_up_container{
    grid-template-columns: 2fr 1fr;
  }
  
  .sign_up_container .form_left_side{
    padding: 20px;
    min-height: 400px;
  }
  .sign_up_container .graphics_right_side,
  .login_container .graphics_left_side{
    padding: 20px;
    text-align: center;
  }
  .login_container{
    grid-template-columns: 1fr 2fr;
  }
  .sign_up_container .graphics_right_side a,  
  .login_container .graphics_left_side a{
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 80px;
  }
  .sign_up_container .form_left_side button,
  .login_container .form_right_side button{
    padding: 10px 25px;
    border-radius: 80px;
    font-weight: 500;
  }
  .login_container .form_right_side{
    padding: 20px;
  }
  .view_profile_container #logout_btn {
    padding: 10px 25px;
    border-radius: 80px;
    font-weight: 500;
  }
}

@media screen and (min-width: 320px) and (max-width: 579px) {
  .container{
    padding-inline: 5%;
  }
  .sign_up_container , .login_container{
    grid-template-columns: 1fr;
  }
  .sign_up_container .form_left_side{
    padding: 20px;
    order: 2;
  }

  .sign_up_container .graphics_right_side {
    padding: 20px;
    order: 1;
  }
  .sign_up_container .graphics_right_side h2,
  .login_container .graphics_left_side h2
  {
    font-size: 20px;
  }
  .sign_up_container .graphics_right_side a,  
  .login_container .graphics_left_side a{
    padding: 7px 25px;
    font-size: 13px;
    border-radius: 60px;
  }
  .sign_up_container .form_left_side h2,
  .login_container .form_right_side h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .sign_up_container .form_left_side button,
  .login_container .form_right_side button{
    padding: 8px 18px;
    border-radius: 80px;
    font-weight: 500;
    font-size: 15px;
  }
  .login_container .graphics_left_side{
    padding: 20px;
    order: 1;
  }
  .login_container .form_right_side{
    padding: 20px;
    order: 2;
  }
  .login_container .form_right_side > div.login_inputs {
    margin-bottom: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .view_profile_container .details_container .profile_details_left .profile_img img {
    width: 100px;
    border-radius: 50%;
  }
  .view_profile_container .details_container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .view_profile_container .details_container .profile_details_right{
    padding-left: 5%;
  }
  .view_profile_container #logout_btn {
    padding: 8px 18px;
    border-radius: 80px;
    font-weight: 500;
    font-size: 15px;
  }
}